/*
* multi-line comment
*/
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: lightblue;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: white;
	text-decoration: white;
}
a:hover,
	a:active{ text-decoration: underline; }

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family:
    arial; font-size: 80%;
    /*line-height: 1.2em;*/
    /*width: 100%; margin: 0;*/
    /*background-color: #7e5599;*/
    margin: auto;
    background-size: 1500px 900px;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
}
/* you can put your code all in one line like above */
#page{ margin: 200px;

}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}
/* or on different lines like below */
#logo{
	width: 50%;
  height: 100%;
	margin-top: 90px;
	font-family: cursive */;
	display:block;
}
/* but try and be as concise as possible */
#nav{
	width: 60%;
	display: inline-block;
	text-align: left;
	float: left;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: lightblue;
				color: white;
        position: absolute; left:0; top:0;

			}
			#nav ul li a:hover{
				background-color: #ff8396;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #add8e6; }

#content{
	margin: 30px 0;
	background: white;
  opacity: 0.70;
	padding: 20px;
	clear: both;
  color: black;
  font-size: 16px;
}

#content a:link {color: #ff8396;}
#content a:visited {color: #ff8396;}
#content a:hover {color: #ff8396;}
#content a:active {color: #ff8396;}
#content button {
  opacity: 10;
}

.button {
    background-color: #b3e6ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative; left:0;
}
button:hover{
  background-color: #ff8396;
  box-shadow: 0px 1px 1px #666;
}
button:active{ background-color: #add8e6; }

table {
    width: 75%;
}

th {
    height: 50px;
}


#footer{
	/*border-bottom: 1px #ccc solid;
	margin-bottom: 10px;*/
}
	#footer p{
		text-align: left;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
/* multiple styles seperated by a , */
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }
