<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/firstpStyle.css">	<title></title>

</head>

<body>
<!-- webpage content goes here in the body -->
<button class="button"><a href="/">Home</a></button>
<button class="button"><a href="/register">Register</a></button>
<button class="button"><a href="/checklist">Checklist</a></button>
<button class="button"><a href="/signin">Log in</a></button>
<button class="button"><a href="/logout">Log Out</a></button>
<button class="button"><a href="/contactus">Contact Us</a></button>
<button class="button"><a href="/calendar">Calendar</a></button>
<button class="button"><a href="/settings">Settings</a></button>


<p> Edit {{ note.id}}</p>

	<div id="page">
		<div id="logo" style="text-align: center">

			<h1>Checklist for xxxx</h1>
		</div>
		<div id="nav"> </div>

		<div id="content">
			<p>
				<form action="/checklist/edit" method="post">
					<input type="hidden" name="id" value="{{note.id}}" />
					<table>
						{{#note}}
						<tr>
							<td><input type="text" name="text" value="{{ note.text}}" /></td>
						</tr>
						<tr>
							<td><input type="submit" name="update" value="Update" /></td>
						</tr>
						{{/note}}
					</table>
				</form>
				<button class="button"><a href="/checklist")> Cancel</a></button>
			<p>

			</p>
		 </p>
		</div>
	</div>

</body>
</html>
